*.log
*gz
*gz.tbi
*.html
*.tsv
*.txt
*results/
*.Rhistory
*.vcf
*.vcf.idx
*.dict
*.fa
*.fasta
*.fai
*.gtf
*.bed
*.xls
*.xlsx
*test.R
*.sing2
*.single
*.best
*.png
*.pdf
*.out
*.err
*.nextflow*
*.RData
*.rds
*allchr*
*.h5Seurat
*.h5ad
*.spec
*cache*
atacseq/atacseq-1.2.2/
atacseq/homer/results_vert/
atacseq/homer/results_vert_mRp/
atacseq/ldsc/data/
atacseq/ldsc/exclusive_peaks/
atacseq/ldsc/mRp/data/
atacseq/plot_peaks_sle_genes.R
atacseq/plot_tracks.R
atacseq/results_deseq2/
atacseq/verifybamid/
atacseq/plot.R
bcell_rnaseq/2-mbv/test_*
bcell_rnaseq/3-splicing/bam/
bcell_rnaseq/3-splicing/data/
bcell_rnaseq/3-splicing/index/
bcell_rnaseq/3-splicing/salmon_quant/
bcell_rnaseq/3-splicing/salmon_quant_pooled.slurm
bcell_rnaseq/3-splicing/salmon_quant_pooled/
bcell_rnaseq/old
bcell_rnaseq/old2
citeseq/.ipynb_checkpoints
citeseq/data
citeseq/demultiplexing/.ipynb_checkpoints
citeseq/demultiplexing/demuxlet/old
citeseq/demultiplexing/scrublet/.ipynb_checkpoints
citeseq/demultiplexing/vireo/data
citeseq/old
citeseq/scDRS
data/
de_gwas_candidates/
indices/kallisto
indices/starindex*
indices/STAR
indices/SALMON*
ld_gwas_regions/
mgb_biobank/
old/
sle_variants/
