singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'slurm'
  queue = 'bch-compute'
}

params {
  max_memory = 200.GB
  max_cpus = 60
  max_time = 24.h
 
  fasta       = '/lab-share/IM-Gutierrez-e2/Public/References/Genomes/hsapiens/GRCh38/GRCh38.primary_assembly.genome.fa'
  gtf         = '/lab-share/IM-Gutierrez-e2/Public/References/Annotations/hsapiens/gencode.v42.primary_assembly.annotation.gtf'
}
